.servicePage {
    height: calc(90vh);
    margin: 2.5rem;
    background-size: cover;
    background-position: center;
    padding: 2.5rem 5rem;
    transition: background-image 4s ease;

    margin: auto;
    margin-top: 6rem;
}

.section {
    display: grid;
    grid-template-columns: 2fr 1fr;

    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
}

.main {
    position: relative;
}

.servicePage h1 {
    font-size: 4rem;
    line-height: 1.3;
    color: var(--color-brand-500);
    font-weight: 700;
    text-align: start;
    text-transform: uppercase;
}

.servicePage h2 {
    width: 50%;
    font-size: 1.6rem;
    color: var(--color-grey-50);
    margin-bottom: 2.5rem;
    font-weight: 300;
    text-align: start;
}

.serviceDes {
    width: var(--container-width-lg);
    margin-inline: auto;
}
.serviceDes h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--color-brand-500);
    margin-top: 3rem;
    margin-bottom: 0.8rem;
}
.serviceDes p {
    font-size: 1.4rem;
    text-align: center;
}
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: var(--container-width-lg);
    margin: auto;
    margin-block: 7rem 4rem;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
}

.serviceCards {
    background: var(--color-grey-50);
    padding: 4rem 1rem;
    box-shadow: var(--shadow-lg);
    transition: var(--transition);
}
.serviceCards:hover {
    transform: translateY(-3px);
}

.serviceCards img {
    width: 90%;
    margin: auto;
}
.cardDescription p {
    font-size: 1.4rem;
    margin: auto;
    width: 90%;
    text-align: justify;
    letter-spacing: -0.5px;
}

.cardDescription h1 {
    margin: auto;
    font-weight: 600;
    width: 90%;
    font-size: 1.6rem;
    color: var(--color-brand-500);
}
