footer {
    background: var(--color-grey-700);
    padding-inline: 3rem;
    margin: auto;
    padding-block: 5rem;
    margin-top: 6rem;
}
.footer {
    background: var(--color-grey-300);
    padding: 1rem;
}

.footer img {
    width: 8%;
    margin: auto;
    padding: 1rem;
}
.main {
    color: var(--color-grey-50);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
}
