/* Home.module.css */
.homepage {
    height: calc(85vh);
    margin: 2.5rem;
    background-size: cover;
    background-position: center;
    padding: 2.5rem 5rem;
    transition: background-image 4s ease;
    margin: auto;
    margin-top: 6rem;
}

.section {
    display: grid;
    grid-template-columns: 2fr 1fr;

    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
}

.homepage h1 {
    font-size: 5rem;
    line-height: 1.3;
    color: var(--color-grey-50);
    font-weight: 700;
    text-align: start;
    text-transform: uppercase;
}

.homepage h2 {
    width: 50%;
    font-size: 1.6rem;
    color: var(--color-grey-50);
    margin-bottom: 2.5rem;
    font-weight: 300;
    text-align: start;
}

.ctaLinks {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 700px) {
    .homepage h2 {
        width: 95%;
    }
    .homepage h1 {
        font-size: 3.5rem;
    }
    .homepage {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 450px) {
    .homepage h2 {
        width: 100%;
        font-size: 1.7rem;
    }
    .homepage h1 {
        font-size: 2.5rem;
    }
    .homepage {
        padding: 2rem 2rem;
    }
    .ctaLinks {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
