section.solution {
    width: 100%;
    padding-block: 6rem;
    background: var(--color-brand-50);
}

.solution {
    width: var(--container-width-small);
    margin: auto;
    margin-bottom: 10rem;
}

.solutionTitle {
    text-align: center;
}
.solutionTitle h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.solutionTitle p {
    width: 60%;
    font-weight: 400;
    margin: auto;
}

.segment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.segment h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.segment p {
    width: 90%;
    font-size: 1.4rem;
}

.segment:nth-child(1) p {
    width: 90%;
    margin-left: auto;
}
.segment:nth-child(1) h1 {
    width: 90%;
    margin-left: auto;
}
.segment:nth-child(3) h1 {
    width: 90%;
    margin-left: auto;
}
.segment:nth-child(3) p {
    width: 90%;
    margin-left: auto;
}
.segment img {
    width: 60%;
    display: flex;
    align-self: center;
    /* margin: auto; */
}

.segment:nth-child(2) img {
    margin-left: auto;
}
.segment:nth-child(4) img {
    margin-left: auto;
}

.link {
    display: flex;
    gap: 2rem;
    margin-top: 3.5rem;
}

.imageTextBlock .segment:nth-child(1) .link {
    width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.imageTextBlock .segment:nth-child(3) .link {
    width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* icons */

.iconsImage {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 6rem;
}
.iconsImage h2 {
    font-weight: 600;
}
.iconsImage img {
    width: 50%;
    display: flex;
    margin: auto;
}
.iconsImage:nth-child(1) img {
    width: 40%;
    display: flex;
    margin: auto;
}
.iconsImage:nth-child(2) img {
    width: 50%;
    display: flex;
    margin: auto;
}

.eCommerce {
    position: relative;
}

.eCommerceLink a {
    position: absolute;
    top: 84%;
    left: 2%;
}
